In [30]:
import pandas as pd
df = pd.read_csv("datasets/original_data.csv")

In [31]:
def add_timeslots(df: pd.DataFrame):
	"""add columns to df indicating what timeslot the event occurred in"""
	for timeslot in [(i, i + 2) for i in range(0,24,2)]:
		df[f"{timeslot[0]}-{timeslot[1]}"] = (
				(df['hour'] == timeslot[0]) | (df['hour'] == timeslot[0] + 1)).astype(int)
	return df

df.drop_duplicates()
df['update_date'] = pd.to_datetime(df['update_date'], unit='ms')
df['pubDate'] = df['pubDate'].astype('datetime64[ns]')
df = df[["update_date", "linqmap_type"]]
df['hour'] = pd.to_datetime(df['update_date']).dt.hour
df['day'] = pd.to_datetime(df['update_date']).dt.day
df = add_timeslots(df)
df = df.drop(columns=['hour'])

In [33]:
df.groupby(['linqmap_type','day']).sum().transpose()

linqmap_type ACCIDENT                 JAM                      ROAD_CLOSED  \
day                15  16  17 18  24   15   16    17   18   24          15
0-2                 0   0   0  4   0    0    0     0   23    0           0
2-4                 0   0   0  4   0    0    0     0   28    0           0
4-6                 0   0   0  0   0    0    0     0    0    0           0
6-8                 0   0   0  5   0    0    0     0  963    0           0
8-10               13   0  11  0  15  301    0   946  659  877         139
10-12               3  14   7  0  10   86  274   266    0  390         139
12-14               7   0  11  0  11   99    0   235    0  194         139
14-16              10   0  20  0   0  336    0   755    0    0         137
16-18              10   0  25  0   0  320    0  1057    0    0         134
18-20               0   0   7  0   0    0    0   428    0    0           0
20-22               0   0   3  0   0    0    0    78    0    0           0
22-24               0   0   2  0   0    0    0    72    0    0           0

linqmap_type                      WEATHERHAZARD
day            16   17    18   24            15   16   17   18   24
0-2             0    0   523    0             0    0    0  115    0
2-4             0    0  1060    0             0    0    0  220    0
4-6             0    0     0    0             0    0    0    0    0
6-8             0    0   288    0             0    0    0  206    0
8-10            0  324   148  330           103    0  181   76  170
10-12         330  336     0  337            91  173  173    0  176
12-14           0  344     0  169            96    0  165    0   77
14-16           0  346     0    0           105    0  170    0    0
16-18           0  335     0    0            98    0  200    0    0
18-20           0  313     0    0             0    0  151    0    0
20-22           0  329     0    0             0    0  137    0    0
22-24           0  485     0    0             0    0  140    0    0